{
  "extends": "airbnb/base",
  "globals": {
    "document": false,
    "expect": false,
    "test": false,
    "window": false
  },
  "parser": "babel-eslint",
  "rules": {
    "func-names": ["error", "never"],
    "import/prefer-default-export": 0,
    "no-unused-vars": [
      "error",
      {
          "varsIgnorePattern": "Element"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    },
    "react": {
      "version": "16.9.0"
    }
  }
}